extends layout

block content
  // Navigation
  include ./header
  // Page Header
  // Set your background image for this header on the line below.
  header.intro-header(style="background-image: url('img/home-bg.jpg')")
    .container
      .row
        .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
          .site-heading
            h1 Scribbling
            hr.small
            span.subheading A science and technology blog
  // Main Content
  .container
    .row
      .col-lg-12
        each blog in data
          .post-preview
            a(href="#{blog.link}")
              h2.post-title
                | #{blog.heading}
              h3.post-subtitle
                | #{blog.description}
            p.post-meta
              | Posted by 
              //a(href="author/#{blog.postedBy}") #{blog.postedBy}
              | #{blog.postedBy}
              | on #{blog.date}
          hr
        // Pager
        ul.pager
          li.next
            a(href='#') Older Posts →
  hr
  // Footer
  footer
    .container
      .row
        .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
          ul.list-inline.text-center
            li
              a(href='#')
                span.fa-stack.fa-lg
                  i.fa.fa-circle.fa-stack-2x
                  i.fa.fa-twitter.fa-stack-1x.fa-inverse
            li
              a(href='#')
                span.fa-stack.fa-lg
                  i.fa.fa-circle.fa-stack-2x
                  i.fa.fa-facebook.fa-stack-1x.fa-inverse
            li
              a(href='#')
                span.fa-stack.fa-lg
                  i.fa.fa-circle.fa-stack-2x
                  i.fa.fa-github.fa-stack-1x.fa-inverse
          p.copyright.text-muted Copyright © jagadeeshops.com 2017
  // // jQuery
  // script(src='vendor/jquery/jquery.min.js')
  // // Bootstrap Core JavaScript
  // script(src='vendor/bootstrap/js/bootstrap.min.js')
  // // Contact Form JavaScript
  // script(src='js/jqBootstrapValidation.js')
  // script(src='js/contact_me.js')
  // // Theme JavaScript
  // script(src='js/clean-blog.min.js')
